@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Viga&display=swap');

$fuente: 16px;

$primary: #ea6227;
$secundary: #54B3A6;
$dark: rgb(10, 20, 19);
$light: #eee;



$dark: #1b262c;
$dark-blue: #0f4c75;
$blue: #3282b8;
$light-blue: #b0dfff;
$light: #eee;

$font-title: 'Viga', sans-serif;
$font-content: 'M PLUS Rounded 1c', sans-serif;